---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout
	title="Gender Equality and Diversity Policy"
	description="ROBOSECT's commitment to gender equality, inclusion, and diversity."
	lastUpdated="19 July 2026"
>
	<p>Dear colleagues,</p>

	<p>
		At ROBOSECT, people have always been our greatest asset. This is a place where people must
		always be able to find the best context to achieve great things. It is, therefore,
		everyone's duty to ensure a fair and meritocratic work environment every day, in which
		everyone can express themselves at their best.
	</p>

	<p>
		We are aware that this is an ongoing journey, in which respect for gender equality
		continues to be a key element in enhancing diversity and promoting inclusion. In fact, we
		believe that diversity – in all its forms – is a fundamental resource necessary to continue
		pursuing the will to progress that we have inherited from our founder. This same will allow
		us to audaciously redefine the limits of possible.
	</p>

	<p>
		Aware of the importance of our ecosystem, we want to ensure that every ROBOSECT individual
		can develop their potential in an open and welcoming work environment, and also that all
		our stakeholders are treated fairly and respectfully while maintaining these same
		commitments. To achieve this goal, we act following fundamental principles, including:
	</p>

	<h2>Equality and non-discrimination</h2>
	<p>
		We guarantee the removal of all forms of discrimination based on gender, age, ethnicity,
		sexual orientation, disability, religion, marital status, or any other form of uniqueness.
		All employees must be treated fairly and have access to the same career opportunities,
		training, wage, and professional development.
	</p>

	<h2>Inclusion</h2>
	<p>
		We promote an inclusive environment in which every individual feels valued and respected.
		We encourage a company culture that celebrates diversity, and considers different
		perspectives to be a source of enrichment.
	</p>

	<h2>Gender Equality</h2>
	<p>
		We are committed to reducing the gender gap at all levels of the organisation, with
		particular attention to leadership roles. Moreover, we implement policies and practices to
		support and spread a culture of shared parenthood, encouraging the use of parental leave
		and forms of work flexibility.
	</p>

	<h2>Training and Awareness</h2>
	<p>
		We offer ongoing training programmes on Diversity & Inclusion topics for all employees,
		aiming to raise awareness and promote inclusive languages and behaviours, to foster
		understanding and respect for cultural and personal differences.
	</p>

	<h2>Recruiting and Selection</h2>
	<p>
		We adopt recruitment and selection processes that promote diversity, ensuring that all
		applications are evaluated solely based on skills and qualifications.
	</p>

	<h2>Work-Life Balance</h2>
	<p>
		We promote flexible work policies that favour the balance between private and professional
		life. For this reason, we encourage the use of leaves, permits, services, and other
		initiatives to support employees' work-life balance.
	</p>

	<h2>Safe and Respectful Work Environment</h2>
	<p>
		We guarantee a safe work environment, in which every employee can express themselves freely
		without fear of discrimination or retaliation. For this, we implement clear procedures and
		provide tools for reporting and managing inappropriate behaviours, ensuring support and
		protection for those who report, and zero tolerance to any form of abuse.
	</p>

	<h2>Monitoring and Reporting</h2>
	<p>
		We constantly monitor progress towards gender equality, inclusion and women's empowerment
		collecting data and feedback to assess the effectiveness of our initiatives so that we can
		continue to improve. The results obtained and future goals are communicated periodically,
		transparently, and responsibly.
	</p>

	<p>
		This journey is a fundamental part of our growth and our commitment to excellence. We
		firmly believe that a work environment that is inclusive and open to diversity is essential
		to attract and retain the best talents, fostering innovation and ensuring the company's
		sustainable success.
	</p>

	<p>Thank you,</p>
	<p>
		Alessio Caporali<br />
		CEO &amp; Co-Founder
	</p>
</LegalLayout>
